version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: customer_db
    ports:
      - "5432:5432"

  mock-server:
    build: ./mock-server
    ports:
      - "5000:5000"

  pipeline-service:
    build: ./pipeline-service
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mock-server
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/customer_db
